* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Poppins", serif;
  font-size: 15px;
  color: hsl(234, 12%, 34%);
}

.header {
  margin-top: 2.5%;
  text-align: center;
}

.title1 {
  font-weight: 200;
}
.title2 {
  font-weight: 700;
}
.title3 {
  font-weight: 50;
  font-size: 12px;
  text-align: center;
}

img {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card1title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.card2title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.card3title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.card4title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.card1 {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 15px;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.card1description {
  font-size: 14px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.card2 {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 15px;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card2description {
  font-size: 14px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.card3 {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 15px;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card3description {
  font-size: 14px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.card4 {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 15px;
  border-top: 4px solid hsl(212, 86%, 64%);
}

.card4description {
  font-size: 14px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  .header {
    width: 375px;
  }

  .header h1 {
    font-size: 26px;
  }

  .header h2 {
    font-size: 26px;
  }

  .fourcards {
    flex-direction: column;
    align-items: center;
  }
}
