body {
  margin: 0 41.6px;
  background-color: #fafafa;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 15px;
}

.primerostitulos {
  border: solid 2px #00ff00;
  margin-top: 2.5%;
  text-align: center;
}

.title1 {
  font-weight: 200;
}
.title2 {
  font-weight: 700;
}
.title3 {
  font-weight: 50;
  font-size: 12px;
}

.cuatrocuadros {
  border: solid 2px green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding: 15%;
}

.cuadro1 {
  border-radius: 8%;
  display: inline-block;
  position: relative;
  margin: auto 0;
  width: 292px;
  height: 220px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  border-top: solid 4px;
  border-color: cyan;
}

.cuadro1title,
.cuadro1description {
  padding-left: 10%;
}

.cuadro2 {
  border-radius: 8%;
  display: inline-block;
  position: relative;
  margin: auto 0;
  width: 292px;
  height: 220px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  border-top: solid 4px;
  border-color: red;
}

.cuadro2title,
.cuadro2description {
  padding-left: 10%;
}

.cuadro3 {
  border-radius: 8%;
  display: inline-block;
  position: relative;
  margin: auto 0;
  width: 292px;
  height: 220px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  border-top: solid 4px;
  border-color: lightblue;
}

.cuadro3title,
.cuadro3description {
  padding-left: 10%;
}

.cuadro4 {
  border-radius: 8%;
  display: inline-block;
  position: relative;
  margin: auto 0;
  width: 292px;
  height: 220px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  border-top: solid 4px;
  border-color: orange;
}

.cuadro4title,
.cuadro4description {
  padding-left: 10%;
}

.attribution {
  border: solid 2px red;
}
